*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-sarif;
}

.body{
    color: #ededed;
    background: #081b29;
}

.btn-box{
    margin-bottom: 35px;
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: slideRight 1.95s ease forwards;
    animation-delay: .1s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
}

.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
}

@keyframes slideRight {
    0%{
        transform: translateX(-900px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.home-img {
    border-radius: 50%;
    box-shadow: 0 0 25px solid #00c3d1;
    cursor: pointer;
    transition: 0.2 linear;
    animation: slideTop 1.95s ease forwards;
    animation-delay: .1s;
    box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
    margin-bottom: 35px;
}

.home-img:hover{
        box-shadow: 0 0 5px cyan,
        0 0 25px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan;
    }


@keyframes slideTop {
    0%{
        transform: translateY(900px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.send{
    display: inline-block;
    padding: 14px 20px;
   background: #0ef;
    border-radius: 40px;
    font-size: 18px;
     color: #081b29;
    letter-spacing: 1px;
   text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
     animation-delay: .5s;
   box-shadow: 0 0 5px #0ef,
     0 0 25px #0ef;
}

.send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
 }

 @keyframes slideLeft {
    0%{
        transform: translateY(900px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

textarea {
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-size: 600;
    margin-bottom: 600rem;
    margin-bottom: 35px;
    border-radius: 0.5rem;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: .1s;
  box-shadow: 0 0 5px #0ef,
    0 0 25px #0ef;
 }

 textarea{
    resize: none;
    height: 150px;
 }

 .more text-about-me{
    font-size: 5px;
    font-weight: 900;
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: .4s;
 }

 .ask{
    opacity: 0;
    animation: slideRight 2s ease forwards;
    animation-delay: .5s;
 }

 .ask span{
    color: #0ef;
    opacity: 0;
    animation: slideTop 1.95s ease forwards;
    animation-delay: .1s;
 }